:root {
    --ff1 : 'Poppins', sans-serif;
    --ff2 : 'Bodoni Moda', serif;
    --ff3 : 'Antonio', sans-serif;

    --fc1 : #0b090a;
    --fc2 : #370617;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 10px;
}

body {
    color: #fff;
    background-color: var(--fc1);
    font-family: var(--ff1);
    
}


h1,h2,h3,h4,h5,h6 {
    font-family: var(--ff2);
    font-weight: 300;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 5rem;
    line-height: 1.2
}

h3 {
    font-size: 2.6rem;
}

p {
    font-size: 1.5rem;
    line-height: 3rem;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--fc1);
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.preloader img {
    max-width: 25rem;
    width: 50vw;
    mix-blend-mode: luminosity;
}

.hide-preloader {
    z-index: -999;
    display: none;
}

main {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.view-content {
    opacity: 1; 
}

.container {
    padding: 3rem 10rem;
    margin: 0 auto;
}

.logo h1 {
    font-size: 2rem;
    font-family: var(--ff3);
    font-weight: 400;
    letter-spacing: .5rem;
}


/* Hero */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: all 1s;
}

.header.fixed-header {
    background: #000;
}

.header ul li{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    letter-spacing: .1rem;
    position: relative;
}

.header ul li::after {
    content: " ";
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 2px;
    background-color: #fff;
    width: 0;
    transition: all .3s ease-in;
}

.header ul li:hover::after{
    width: 100%;
}


.left-menu li{
    margin-right: 4rem;
}

.right-menu li{
    margin-left: 4rem;
}

.header ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}


/* Banner */
.banner {
    height: 100vh;
    background: url(./images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: flex-end;
    position: relative;
}


.banner .text {
    text-align: center;
    margin-bottom: 5rem;
}

.banner p {
    opacity: .8;
}

@keyframes fade {
    0%{
        opacity: 0;
        margin-bottom: -10rem;
    }

    50%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
}

.swipe-up .text {
    animation: fade 1.2s ease-out;
}


.banner h1 {
    margin-bottom: 1.5rem;
    line-height: 8rem;
}


.btn {
    position: relative;
    display: inline-block;
    color: var(--fc1);
    background-color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    padding: 1.5rem 5rem;
    z-index: 10;
    margin-top: 5rem;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
}

.btn:before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100.1%;
    height: 0;
    background-color: var(--fc1);
    opacity: .9;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.btn:hover {
    color: #fff;
}

.btn:hover:before {
    top: 0;
    height: 100%;
}


/* Brand logo  */
.brand-logo {
    padding: 3rem 0;
}

.brand-logo-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Intro */
.intro {
    position: relative;
}

.intro h3 {
    text-transform: uppercase;
    line-height: 4rem;
}


.intro-inner {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 5rem;
}

.intro .text{
    width: 95%;
    margin-bottom: 5rem;
}

.intro .text-left {
    text-align: right;
}

.intro:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent)
}


/* Features */
.feature {
    background-color: var(--fc2);
}

.features {
    padding-top: 10rem;
}

.features h2{
    text-transform: uppercase;
}


.features-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-inner img {
    height: 90vh;
}

.features-inner .text {
    margin-left: -6.5rem;
    z-index: 10;
}

.features .text-inner {
    position: relative;
    margin: 5.5rem 0 0 19rem;
}

.features .text-inner:before {
    content: " ";
    position: absolute;
    top: .8rem;
    left: -3rem;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top, transparent, #fff)
}

.features:nth-child(even) .features-inner {
    padding-bottom: 10rem;
}

.features:nth-child(even) .text{
    margin-left: inherit;
    margin-right: -6.5rem;
    text-align: right;
}

.features:nth-child(even) .text-inner{
    margin: 5.5rem 19rem 0 0;
}

.features:nth-child(even) .text-inner:before{
    left: inherit;
    right: -3rem;
}


/* Showcase */
.showcase {
    color: #000;
    background-color: #fff;
}

.showcase-inner {
    margin: 10rem 0;
    text-align: center;
}

.showcase h2{
    text-transform: uppercase;
    margin-bottom: 10rem;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.item1,
.item2,
.item3 {
    height: 85vh;
    min-height: 50rem;
    width: 25vw;
    object-fit: cover;
    padding: 2rem;
    transform: rotate(22deg);
    }


/* Collection */
.collection {
    padding: 10rem 0;
}

.collection h2 {
    text-transform: uppercase;
}

.collection-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 7rem;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    min-height: 27rem;
    border: 1px solid #fff;
    margin-bottom: 4rem;
    overflow: hidden;
}

.box h6 {
    font-family: var(--ff1);
    font-size: 2rem;
    font-weight: 400;
}

.collection-boxes .img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .4;
    transition: all 1s ease-in-out;
}

.box img {
    height: 55vh;
    width: 100%;
    object-fit: cover;
}

.box:hover .img{
    opacity: 1
}

/* Footer */
.footer {
    position: relative;
    padding: 5rem 0;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer-inner .col {
    padding-right: 5rem;
}

.footer ul {
    margin-left: 0;
}

.footer ul li {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    transition: all .3s ease-in-out;
}

.footer ul li a:hover {
    opacity: .7;
}

.footer:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

.footer:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

.copyright {
    padding: 2.5rem 0;
    text-align: center;
}

.copyright p {
    font-size: 1.4rem;
}

.copyright a {
    text-decoration: none;
    color: #fff;
}

.desktop-hidden {
    display: none;
}





@media screen and (min-width: 1500px) {

    html {
        font-size: 12px;
    }

}


@media screen and (max-width:1100px) {

    .desktop-hidden {
        display: inherit;
    }

    body {
        text-align: center;
    }

    p {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .container {
        padding: 3rem 5rem;
    }

    .nav-right,
    .nav-left {
        display: none;
    }

    .nav-toggle {
        z-index: 9000;
    }

    .nav-toggle .mid{

        display: block;
        margin-bottom: 5px;
        width: 26px;
        height: 2px;
        background-color: #fff;
        position: relative;
        transition: all .5s ease-in-out;
    }

    .nav-toggle .top{

        display: block;
        margin-bottom: 5px;
        width: 26px;
        height: 2px;
        background-color: #fff;
        transition: all .5s ease-in-out;
    }

    .nav-toggle .bot{

        display: block;
        width: 26px;
        height: 2px;
        background-color: #fff;
        transition: all .5s ease-in-out;
    }

    .top,
    .bot {
        transform-origin: 3px 2px;
    }
    
    .open .mid {
        opacity: 0;
    }

    .open .top {
        transform: rotate(45deg);
        /* top: 12.5px; */
    }

    .open .bot {
        transform: rotate(-45deg);
        /* bottom: 12.5px; */
    }

    .header ul li:hover::after{
        width: inherit;
    }

    .nav-full ul{
        position: absolute;
        width: 80%;
        background-color: rgba(0,0,0, 0.9);
        top: 0;
        right: -100%;
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(5, 15rem);
        align-content: center;
        justify-content: space-around;
        transition: all 1s ease-in-out;
    }

    .open .nav-full ul{
        right: 0;
    }

    .nav-full ul li a {
        display: block;
        font-size: 3rem;
        text-align: center;
        font-weight: 300;
    }

    .banner {
        min-height: 70rem;
    }

    .banner p {
        margin-top: 5rem;
    }

    .brand-logo img {
        height: 4rem;
    }

    .intro-inner {
        grid-template-columns: 1fr;
        gap: 0;
        margin-top: 10rem;
    }

    .intro-inner h3,p {
        text-align: center;
    }

    .feature {
        margin-top: 7rem;
    }

    .features-inner {
        flex-direction: column;
    }

    .features h2 {
        margin-bottom: 3rem;
    }

    .img img {
        height: 45vh;
        min-height: 50rem;
        width: 85vw;
        object-fit: cover;
        object-position: top;
    }

    .features-inner .text {
        margin-top: 7rem;
        margin-left: 0;
    }

    .features .text-inner {
        margin: 0;
    }

    .text-inner p {
        text-align: left;
    }

    .features .text-inner:before {
        display: none;
    }

    .features .text {
        text-align: left;
    }

    .features:nth-child(even) .img {
        order: -1;
    }

    .features:nth-child(even) .text{
        margin: 0;
        text-align: left;
        margin-top: 7rem;
    }
    
    .features:nth-child(even) .text-inner{
        margin: 0;
    }
    
    .features:nth-child(even) .text-inner:before{
        left: inherit;
        right: inherit;
    }
    
    .showcase h2 {
        max-width: 100%;
    }

    .items {
        display: flex;
    }

    .item1,
    .item2,
    .item3 {
        height: 70rem;
        width: 35vw;
        object-fit: cover;
        margin: 0;
        margin-bottom: 2rem;
    }

    .box {
        width: 85vw;
        height: 25vh;
        margin-left: auto;
        margin-right: auto;
    }

    .box h6 {
        font-size: 3.5rem;
    }

    .collection-boxes .img{
        opacity: 1;
        object-fit: cover; 
    }
    
}


@media screen and (max-width:600px) {
    html {
        font-size: 5.5px;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    p {
        font-size: 2.5rem;
    }

    .container {
        padding: 5rem;
    }

    .btn {
        font-size: 3rem;
    }

    .footer {
        padding: 1rem 0;
    }

    .banner .text {
        margin-bottom: 10rem;
    }

    .item1 ,
    .item2 ,
    .item3 {
        min-width: 25rem;
        height: 80rem;
    }

    .footer-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 2rem;
    }

    .col {
        text-align: center;
    }

    .col-logo {
        grid-column: 1/4;
        margin-bottom: 3rem;
    }

    .col ul li a {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .col-1 {
        grid-row: 2 / 3;
        grid-column: 2 / 3
    }

    .col-2 {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }

    .col-3 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .copyright p{
        font-size: 2rem;
    }
    
}